#video {
	margin-top: 10px;
	margin-bottom: 20px;
}

#videoContainer, #buttons {
	text-align: center;
}

#loopText, #speedText {
	color: rgba(255, 255, 255, 0.8);
}

#panelNavigation, #panelSpeed {
	margin-top: 20pt;
}

#panelSpeed {
	display: none;
}

#video, #buttons {
	display: none;
}

#txtUrl {
	width: 300pt;
	margin-right: 4pt;
	margin-top: 4pt;
}

#progressBars, #progressThumb {
	margin-left: auto;
	margin-right: auto;
}

#progressBars, .progressBar, #progressThumb {
	height: 4pt;
}

.progressBar {
	float: left;
}

#progress-w1 {
	background: #61DC9D;
}

#progress-w2 {
	background: #9C5D5D;
}

#progress-w3 {
   background: #215D9C;
}

#thumb-w1, #thumb-w3 {
   background: rgba(0, 0, 0, 0);
}

#thumb-w2 {
   background: rgba(255, 255, 255, 0.8);
}

#progressPanel {
	display: none;
}

.note {
	margin-top: 4pt;
	margin-bottom: 4pt;
}

.button-pressed {
	background: rgba(20, 20, 20, 0.9);
}
