#video {
	margin-top: 10px;
	margin-bottom: 20px;
}

#videoContainer, #buttons {
	text-align: center;
}

#loopText, #speedText {
	color: rgba(255, 255, 255, 0.8);
}

#panelNavigation, #panelSpeed {
	margin-top: 20pt;
}

#panelSpeed {
	display: none;
}

#video, #buttons {
	display: none;
}

#txtUrl {
	width: 300pt;
	margin-right: 4pt;
	margin-top: 4pt;
}