html { 
	padding:0px;
	margin:0px;
}

BODY, SELECT, INPUT, TD, TH, A {
	font-family: "Rambla";
	font-size: 10pt;
	color: #333333;
}

BODY {
	background: #222222;
}


A {
	color : #005484;
}

TH {
	text-align-center;
	border: 1px solid #C0C0C0;
}

BODY {
	margin:0px;
	padding:0px;
	text-align: center;
}

#box {
	width:1024px;
	margin: 0px auto;
	padding:0px;
	text-align: left;
}


DIV.actions {
	text-align: center;
	margin-top: 10pt;
}


DIV.roundbox {
	background: none repeat scroll 0 0 #F0F0F0;
	border: 1px solid #C0C0C0;
    border-radius: 4px 4px 4px 4px;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    padding: 3px 10px;
}


#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

button {
	background: rgba(60, 60, 60, 0.9);
	border: rgba(70, 70, 70, 0.8);
	border-radius: 4pt;
	padding: 4pt;
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

button:hover {
	background: rgba(70, 70, 70, 1);
}
